*{
  margin: 0;
  padding: 0;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* Navigation styles */
nav,
.nav-link {
  list-style-type: none;
  background-color: black;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

li {
  margin-right: 5px;
  padding-left: 10px;
  display: inline;
  font-size: 25px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.sektion1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h4 {
  margin-top: 50px;
}

.ikon-container {
  display: flex;
  justify-content: center;
  height: 50px;
}

.ikon-container img {
  height: 50px;
  width: 90px;
}

.footer-items {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.footer-items ul {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
}

.footer-items h3 {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.last-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(183, 180, 176);
  background-size: cover;
  height: 200px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 25px;
  max-height: 700px;
  max-width: 900px;
}

.product-area {
  display: flex;
  flex-direction: column;
  border: 1px solid slategray;
  padding: 10px;
  text-align: center;
  max-width: 200px;
  height: 100%;
}

.product-area img {
  width: 100px;
  height: 140px;
  object-fit: cover;
}

.product-area h3 {
  max-height: 50px;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  gap: 2px;
  margin-top: 12px;
}
.search-container {
  margin-bottom: 10px;
}

#search {
  float: right;
  margin-right: 70px;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  width: 200px;
}

#list-item {
  float: right;
  margin-right: 50px;
}

/* Slider styles */
#slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #2b2e66;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* Här börjar Första sidan */
/* Slider styles */
#slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
#sl1{
  width: 100%;
  height: 100%;
}

/* Navigation styles */

nav,
.nav-link {
  list-style-type: none;
  background-color: black;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

li {
  margin-right: 5px;
  padding-left: 10px;
  display: inline;
  font-size: 25px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#logo {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  gap: 2px;
  margin-top: 12px;
}

.search-container {
  margin-bottom: 10px;
}

#search {
  float: right;
  margin-right: 70px;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  width: 200px;
}

#list-item {
  float: right;
  margin-right: 50px;
}

/* Här slutar Första sidan */
/* Här börjar video och bild sektionen, sida2 */

#section1 {
  display: flex;
  justify-content: center;
}

.video1 {
  width: 650px;
}

.img1 {
  width: 650px;
}

.loggin-section {
  display: flex;
  gap: 30px;
}

.loggin-img {
  max-width: 600px;
  max-height: 600px;
}

.loggin-items {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.loggin-items p {
  margin-bottom: 50px;
}

.loggin-items button {
  margin-bottom: 20px;
}

.loggin-items input {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
}

.loggin-h1 {
  margin-top: 100px;
}

/* .loggin-formoner {
/* Här slutar video och bild sektionen, sida2 */
/* Här börjar nyheter, sida3 */ 


.nyheter-h1 {
  margin-top: 50px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 25px;
  max-height: 700px;
  max-width: 800px;
  margin-top: 50px;
  margin-left: 200px;
}

.product-area {
  display: flex;
  flex-direction: column;
  border: 1px solid slategray;
  padding: 10px;
  text-align: center;
  max-width: 200px;
  height: 100%;
}

.product-area img {
  width: 100px;
  height: 140px;
  object-fit: cover;
}

.product-area h3 {
  max-height: 50px;
  overflow: hidden;
}

/* Här slutar nyheter, sida3 */

/* Här börjar brands, sida4 */

.brand-images {
  background-color: #b9bbe5;
  max-width: 600px;
  height: 500px;
}

.brand-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 85px;
}

/* Här slutar brands, sida4 */

/* Här börjar logga in / skapa konto */

.loggin-h1 {
  text-align: center;
  margin-bottom: 50px;
}

.loggin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}

.loggin-img {
  max-width: 600px;
  max-height: 600px;
}
.loggin-items button {
  margin-bottom: 20px;
}

.loggin-items input {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
}

.loggin-items {
  text-align: center;
}

.loggin-items p {
  margin-bottom: 50px;
}

/* Här börjar förmåner */

.loggin-h1 {
  margin-top: 100px;
}

.loggin-formoner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loggin-formoner div {
  width: 300px;
  height: 250px;
}

.trustpilot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.trustpilot img {
  max-width: 250px;
  max-height: 150px;
}

/* Här slutar logga in / skapa konto */
/* Här börjar Footer */

.footer-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

.footer-form {
  text-align: center;
}

.ikon-h4 {
  text-align: center;
  margin-bottom: 25px;
}

.ikon-container {
  display: flex;
  justify-content: center;
  height: 50px;
}

.ikon-container img {
  height: 50px;
  width: 90px;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.footer-items h3 {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.footer-items ul {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
}

.footer-items li {
  font-size: 20px;
  width: 150px;
  text-align: center;
}

.footer-h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.last-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(183, 180, 176);
  background-size: cover;
  height: 200px;
  margin-top: 30px;
}

/* Här slutar footer */

.loggin-items a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.trustpilot {
  margin-top: 30px;
}

.trustpilot img {
  max-width: 250px;
  max-height: 150px;
}

a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
h4 {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #eacbcb;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #2b2e66;
  }

  /* max-width: 1200px;
  margin: 0 auto;
  gap: 20px; */
}

.h2-brands {
  margin-left: 100px;

}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  gap: 10px;
}

.products-container img {
  width: 300px;
  height: 400px;
}
