.brand-images {
  background-color: #b9bbe5;
  max-width: 600px;
  height: 500px;
}

.brand-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.h2-brands {
  margin-left: 100px;
}
